.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

.para {
  background-color: blueviolet;
  color: white;
}