@charset "UTF-8";

h1 {
    color: rgb(43, 125, 3);
}

.texto {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(17, 17, 17);
    background-color: rgb(235, 207, 162);
}

#textinho {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(92, 92, 92);
    background-color: rgb(220, 162, 235);
}